@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html body{
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100%;
}

.main-container{
  background-color: #292c32;
  /* background-image: url(./images/bg.jpeg);
  background-repeat: no-repeat;
  background-size:cover; */
  /* background-attachment: fixed; */
}

.main-div{
  align-items: center;
  text-align: center;
  min-height: 80vh;
  width:100%;
}
html{
  margin-top: 0;
}
.nav-bar{
  background: #292c32;
  padding-top: 4rem;
  padding-bottom: 5rem;
  width:100%;

}

.nav-link{
  position: absolute;
  top:40px; 
  right: 25px;
  display: inline-block;
  font-size: 18px;
}

.nav-link1{
  background-color: #def9f5;
  border-radius: 6px;
  padding:15px;
  margin:10px;
  color:rgb(41, 41, 41);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.nav-link1:hover{
  padding:14px;
  font-size: 0.9rem;
}

.nav-link2{
  background-color: #def9f5;
  border-radius: 6px;
  padding:15px;
  margin:10px;
  color:rgb(41, 41, 41);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.nav-link2:hover{
  padding:14px;
  font-size: 0.9rem;
}

.footer{
  background-color:#292c32;
  padding: 1.5rem;
  position: relative;
  bottom: 0;
  width: 97%;
  height: 2rem;  
  padding-bottom: 5rem;
  color:#def9f5;
  font-size: 1rem;
  font-family:'Montserrat', sans-serif;
} 

.footer-links{
  text-decoration: none;
  color:#def9f5;
}

.footer-links:hover{

  text-decoration: none;
  font-size: 18px;
}

.home-card{
  background-color: #def9f5;
  width: 70vh;
  min-height: 55vh;
  margin:auto;
  margin-bottom: 8%;
  border-radius: 2%;
  border:solid #def9f5;
  border-width: 5px;
  box-shadow: 2px 10px 40px rgba(213, 239, 239, 0.3);

}
/* .main-image{
  position:relative;
  width: 25%;
  margin-bottom: 5%;
  right: 2%;
}

.logoff-image{
  width: 20%;
  margin: 3%;
} */

.nav-title{
  font-family:'Michroma', sans-serif;
  transform: rotate(180deg);
  font-size:4rem;
  color: #3b3b3b;
  background-color: #def9f5;
  border-radius: 6px;
  width: 85px;
  padding:0;
  margin: 2rem;
  position: absolute;
  top: .5rem;
}

.c{
    font-family: 'Rubik Dirt';
    font-size:6rem;
    color: rgb(39, 100, 68);
    padding:0;
    position: relative;
    top: -10px; 

  }



.main-h2{
position: relative;
font-size: 2rem;
padding:3rem;
}

.main-h1{
font-family: 'Michroma', sans-serif;
font-size:2rem;
padding: 10px;
color: #3b4149;
}

.question{
  padding:0px;
  margin:0px;
  font-size: 20rem;
  font-family:'Michroma', sans-serif;
}
h2{
font-family: 'Michroma', sans-serif;
font-weight: 600px;
font-size: 4rem;
color: #def9f5;
}

.home-card h2{
  color:#3b3b3b;
  font-family:'Michroma', sans-serif;
  font-size: 2rem;
  margin:0;
}

.card-overlay {
  /* border: 2px solid var(--primary-button-hover); */
  width: 60%;
  padding: 1em;
  border-radius: 6px;
  border: solid 5px #def9f5;
  box-shadow: 2px 10px 40px rgba(213, 239, 239, 0.3);
  color:#def9f5;
  background-color:#3b4149;
  margin:auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.card-overlay label{
  color: #def9f5;
  padding:5px;
  margin:15px;
  font-size: 'Michroma', sans-serif;
}

.inputwrapper {
  margin: auto;
  width: 80%;
  text-align: center;
}

label{
  align-self: flex-start;
  font-size: 18px;
  font-family:'Montserrat', sans-serif;
}

input{
  width: 50%;
  margin:6px;
  color:#292c32;
  border:solid 2px #e0e3e7;
  border-radius: 6px;
  background-color: #e0e3e7;
  height:1.5rem;
  text-align: center;
  font-family:'Montserrat', sans-serif;
}
/* -----------Login/Register Buttons-----------------*/

.submit-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin: 1em 0;
  border: solid #def9f5;
  border-radius: 6px;
  align-self: center;
  width: 120px;
  height: 4rem;
  background-color:#def9f5;
  color: #3b4149;
}
.submit-login-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  margin: 1em 0;
  border: solid #def9f5;
  border-radius: 6px;
  align-self: center;
  width: 100px;
  height: 3rem;
  background-color:#def9f5;
  color: #3b4149;
}
.submit-login-btn:disabled{
  width:90px;
  border-color: #535e6e;
  background-color: #535e6e;
  font-size: 15px;
}
.submit-login-btn:hover{
  width:90px;
  font-size: 15px;
}
.submit-btn:hover{
  width:100px;
  font-size: 15px;
}
/* --------Landing page login button --------*/

.main-btn {
  display:inline-block;
  background-color: #def9f5;
  border: solid 2px #3b4149;
  border-radius: 6px;
  color: #3b3b3b;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin: 0 0 30px 0;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.main-btn:hover{
  width:180px;
  font-size: 18px;
}
/* -----------Profile Card-----------------*/

.profile-card{
  background-color: #def9f5;
  width: 60vh;
  min-height: 55vh;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 2%;
  border:solid #def9f5;
  border-width: 5px;
  box-shadow: 2px 10px 40px rgba(213, 239, 239, 0.3);
}

.profile-card-header{
  position: relative;
  font-size: 50px;
  padding: 1.5rem;
  padding-bottom: 1.5rem; 
  font-family: 'Michroma', sans-serif;
  color:#3b4149;
  word-wrap: break-word;
  /* color: rgb(39, 100, 68); */
}

.profile-card button:hover{
  font-size:18px;
  width: 185px;
}

#form-select{
  font-size: 40px;
  font-family:'Montserrat', sans-serif;
  color:#3b4149;
  /* color: rgb(39, 100, 68); */
}

#value{
  font-size: 25px;
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
  width: 60%;
  min-height: 6vh;
  border: solid #def9f5;
  border-radius: 6px;
  border-width: 3px;
  color:#3b4149;
}

.profile-btn{
  display:inline-block;
  border-radius: 6px;
  background-color: #def9f5;
  border: solid  3px #3b4149;
  color: #3b4149;
  text-align: center;
  font-size: 20px;
  padding: 30px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.add-sub-btn{
  display:inline-block;
  border-radius: 6px;
  background-color: #def9f5;
  border: solid 3px #3b4149;
  color: #3b4149;
  text-align: center;
  font-size: 20px;
  padding: 30px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 3rem;
}


/* -----------Add Card/Subject-----------------*/

.Addcard{
  background-color: #3b4149;
  width: 55vh;
  min-height: 55vh;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 8%;
  /* border-radius:10%; */
  border:solid #def9f5;
  border-width: 5px;
  box-shadow: 2px 10px 40px rgba(213, 239, 239, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color:white;
  border-radius: 2%;
}
.Addcard h2{
  font-family: 'Montserrat', sans-serif;
}
.Addcard p{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color:#def9f5;
}
.Addcard select{
  background-color: #e0e3e7;
  border: none;
}
.type-card{
  font-family: 'Smooch Sans', sans-serif ;
}
.addCard-input{
  width: 70%;
  margin:auto;
  height: 2rem;
  margin: 1rem;
  word-wrap: break-word;
  background-color: #e0e3e7;
  border: solid 2px #3b4149;
  border-radius: 4px;
  text-align: center;
  font-family: 'Montserrat', sans-seri;
  /* text-align: left; */
}
.addCard-input ::placeholder{
  text-align: center;

}

.addCard-btn{
  display:inline-block;
  border-radius: 6px;
  background-color: #def9f5;
  border: none;
  color:#3b4149;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top:6px;
  margin-bottom: 2rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.addCard-btn:hover{
  box-shadow: 2px 10px 40px rgba(213, 239, 239, 0.3);
}

/* -----------Quiz-/CardPage------------- */

.quiz-card{
  background-color: #def9f5;
  max-width: 40vh;
  min-height: 30vh;
  margin: 0 8px 0 8px;
  margin-bottom: 5%;
  border:solid #def9f5;
  border-width: 5px;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif;
  color:#3b4149;
  border-radius: 10px;
}
.quiz-card button:hover{
  width: 120px;
  font-size: 13px;
}
.card-top-buttons{
  position: relative;
  left: 30.5rem;
  top:-100px;
  margin-bottom:0;  
}
.card-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  max-width:100%;
}

.quiz-question{
  margin: 30px 2rem 15px 2rem;
  font-size: 16px;
  color: #3b4149;
  /* word-wrap: break-word; */
  font-weight: 400;
  min-height: 150px;
}

.quiz-answer{
  margin: 10px 2rem ;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;

}

.quiz-edit-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #3b4149;
  border: solid #3b4149;
  color: #def9f5;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 130px;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* margin-top: 5rem;  */
}

.quiz-delete-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #3b4149;
  border: solid #3b4149;
  color: #def9f5;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 130px;
  cursor: pointer;
  margin: 15px 5px 20px 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.quiz-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #def9f5;
  border: none;
  color: #3b4149;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 4rem;
  margin-bottom: 2rem;
} 

.quiz-show-btn{
  display:inline-block;
  border-radius: 5px;
  background-color: #def9f5;
  border: solid 2px #3b4149;
  color: #3b4149;
  font-size: 15px;
  padding: 15px;
  width: 130px;
  cursor: pointer;
  /* margin: 5px; */
  margin-top: 5%;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.quiz-show-btn:hover{
  width: 120px;
  font-size: 13px;
}

.add-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #def9f5;
  border: none;
  color: #3b4149;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 500;
  margin-top: 4rem;
  /* margin-bottom: 2rem; */
}

.enter-quiz-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #def9f5;
  border: none;
  color: #3b4149;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 500;
  margin: 2rem;
  margin-top: 5rem;
  /* margin-bottom: 2rem; */
}

.back-totop-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: rgb(39, 100, 68);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 500;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/*-----------------QUIZ PAGE----------------------*/

.answer-container{
  position:fixed;
  top:35%;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vh;
  background-color: #def9f5;
  border:solid 2px #def9f5;
  transition: all 0.5s;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #3b4149;
  z-index: 1;
}

.answer-content{
  padding:5%
}
.answer-container button:hover{
background-color: #535e6e;
color:#def9f5;
border:solid 2px #535e6e;
}
.check-answer-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #def9f5;
  border: none;
  color: #3b4149;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.currentScore{
  font-size: 3rem;
  font-weight:900;
  color: #def9f5;
}

.score{
  position: fixed;
  top:12%;
  left:75%;
  z-index: 1;
  width: 20rem;
  background-color: #535e6e;
  border-radius: 4px;
  border: solid 2px #def9f5;
  color:#def9f5;
  font-size: 2rem;
  font-family: 'Smooch Sans', sans-serif;
}

.answer-text{
  font-size: 20px;
  word-wrap: break-word;
  padding: 20px;
  color: #292c32;
  margin: 5px;
  margin-top: 10px
}

.yes-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #def9f5;
  border: solid 2px#3b4149;
  color: #3b4149;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 10px 10px 8px 15px;
  /* margin-top: 2%; */
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.no-btn{
  display:inline-block;
  border-radius: 4px;
  background-color: #def9f5;
  border: solid 2px#3b4149;
  color: #3b4149;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 10px 15px 8px 10px;

  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.questions-container{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left:6%;
  width: 60rem;
  /* font-weight: 0; */
  font-size: 1.2rem;
  background-color: #535e6e;
  color: #def9f5;
  border: solid 5px #def9f5;
  border-radius: 8px;
  margin: 4% 10%;
  padding: 10px;
  word-wrap: break-word;
}
.questions-container input{
  height:2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  border-radius: 6px;
  border: solid #e0e3e7;
  background-color: #e0e3e7;
}

/* @media only screen and (max-width: 1900px) {

  .quiz-card{

    background-color: rgb(139, 171, 147);
    width: 40vh;
    max-width: 90%;
    height: 60vh;
    margin:auto;
    margin-top: 8%;
    margin-bottom: 5%;
     border-radius:10%; 
    opacity: 70%;
    border:solid rgb(39, 100, 68);
    border-width: 5px;
    box-shadow: 2px 0px 40px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color:white;
    border-radius: 5%;
  }
  
  .card-grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
  }
  .quiz-type{
    font-size: 1.8rem;
  }
  .quiz-question{
    min-height: 130px;
    margin: 1rem;
    font-size: 1rem;
    color: rgb(39, 100, 68);
  }
  
  .quiz-answer{
    margin: 1rem;
    min-height: 60px;
    font-size: 1rem;
    word-wrap: break-word;
  }
  .quiz-edit-btn{
    display:inline-block;
    border-radius: 4px;
    background-color: rgb(39, 100, 68);
    border: solid rgb(181, 230, 203);
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 2rem;  
  }
  
  .quiz-delete-btn{
    display:inline-block;
    border-radius: 4px;
    background-color: rgb(39, 100, 68);
    border: solid rgb(181, 230, 203);
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
    /* margin-top: 30%; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  
  .quiz-show-btn{
    display:inline-block;
    border-radius: 4px;
    background-color: rgb(39, 100, 68);
    border: solid rgb(181, 230, 203);
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 100px;
    cursor: pointer;
    margin: 5px 0 0 0;
     margin-top: 3%; 
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
} */


/* ------------MEDIA QUERY--------------- */
@media only screen and (max-width: 850px) {
  /* -------main page------- */
  .nav-bar{

  }
  .nav-link1{
    padding: 10px;
  }
  .nav-link2{
    padding: 10px;
    /* justify-self: stretch; */
    margin: 5px;
  }
  .nav-link{
    display:inline-grid;
    grid-template-columns: auto auto ;
    justify-content: center;
    top:5px;
    width:70%;
    right:30px;
   margin:auto;
  }
  .nav-title{
    font-size: 300%;
    width:15%;
    margin: 20px;
  }
  .home-card{
    width:80%;
    margin:auto;
  }
  .main-div{
    min-height: 100%;
  }
  .main-h1{
font-size:100%;
  }
  .question{
  font-size: 10rem;
  margin:0;
  padding: 0;
  }
  .card-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }
  .home-card h2{
    font-size: 200%;
    margin-bottom: 15px;
  }
  .main-h2{
    padding:10px;
  }
  /*----SignUp-Login---- */
  input{
    width:70%;
    padding: 5px 7px;
  }
  /*----Profile----*/
  .profile-card{
    width:80%;
    margin:auto;
  }
  .profile-card-header{
    font-size: 200%;
  }
  .add-sub-btn{
    padding: 20px;
  }
  #form-select{
    font-size:200%;
  }
  #value{
    width: 80%;
  }
  /* -------Cards-Page------*/
  .main-div{
    width:80%;
    margin:auto;
    min-height: 60%;
    padding-top: 0;
  }
  .card-top-buttons{
    left:0;
    top:10%;
  }
  .enter-quiz-btn{
    padding:15px;
    width:100%;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:30%;
  }
  .add-btn{
    padding:15px;
    width:100%;
    margin-top:5px;
  }
  .card-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .quiz-question{
    font-size: 18px;
    min-height: auto;
  }
  /*-----Quiz----*/
  .main-div{
    width: 90%;
    margin-left:auto;
    margin-right: auto;
  }
  .main-div h2{
    font-size:200%;

  }
  .score{
    top:14%;
    font-size: 150%;
    left:40%;
    padding:0px 10px 0px 10px;
    width:auto;
  }
  .currentScore{
    font-size: 180%;
  }
  .questions-container{
    width:80%; 
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .enter-quiz-btn{
    margin-top: 10px;
  }
  .answer-container{
    width:80%;
  }
  /*-----EditCard------*/
  .Addcard{
    width:80%;
    margin: auto;
  }
.footer{
  width:80%;
  margin:auto;
}
.profile-btn{
  margin-top:30px;
  padding: 20px;
}
}

/*---------------SettingPage---------*/
.setting-btn{
  /* display:inline-block; */
  border-radius: 4px;
  background-color: #def9f5;
  box-shadow: none;
  border:none;
  color: #3b4149;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 0px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 1rem; 
}
.setting-btn:hover{
  box-shadow: 2px 2px 40px rgba(213, 239, 239, 0.3);
}
.setting-btn:disabled{
  background-color: #535e6e;
  box-shadow: none;
}
.update-name{
  font-size:22px;
  font-family:'Montserrat', sans-serif;
  color:#def9f5
}
.update-password{
  min-width: 80px;;
}

.h2-setting {
font-family: 'Smooch Sans', sans-serif;
font-size: 2rem;
color: #def9f5;
}

